* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}
:root {
  --primary: #83C4C9;
  --black: #000000;
  --blackLighter: #000000;
  --grayLight: #F5F5F5;
  --grayMedium: #dbd9db; 
  --white: #c5d2d6;
  --frontEnd: #363e42;
  --backEnd: #00C86F;
  --bg: #151616;
}
html,
body {
  margin: 0;
  padding: 0;
  background-color: var(--bg);
}
a {
  color: inherit;
} 
#root{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
